$alert-color-1: #FFC12E; //background
$alert-color-2: #F9B718; //border
$alert-color-3: #A47503; //icon
$success-color-1: #A7EC2F;
$success-color-2: #7BC300;
$success-color-3: #558502;
$fail-color-1: #FFB1A5;
$fail-color-2: #F55B43;
$fail-color-3: #D52E13;
$energy-color-1: #85EBFA;
$energy-color-2: #47B4F5;
$energy-color-3: #0787D4;
$info-color-1: #AACDF5;
$info-color-2: #8781BD;
$info-color-3: #5B568E;
$color-4: #2D3E50;
$color-5: #CFD2D3;
$color-6: #E2E6E7;