$color-1: #FFC12D;
$color-2: #F9B718;
$color-3: #A47503;
$color-4: #A1B1BC;
$color-5: #CFD2D3;
$color-6: #E2E6E7;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Lato', sans-serif;
}

.notifications {
    display: grid;
    grid-template-columns: 570px 570px;
    grid-column-gap: 30px;
    margin: 100px auto;
    // padding: 180px 375px;
    width: 600px;
    // height: 150px;
}

.alert {

    display: grid;
    grid-template-areas: "link"
                         "text";
    grid-template-rows: 26px auto;
    // grid-template-columns: 50px auto;
    // grid-column-gap: 30px;
    // align-items: center;
    padding: 14px 0 34px 0;
    border: 1px $color-6 solid;
    border-radius: 10px;
    width: 100%;


    div {
        font-size: 14px;
        grid-area: text;
        display: flex;
        margin-left: 50px;

        &::before {
            // grid-area: icon;
            grid-column: 1;
            margin-right: 28px;
            margin-top: 3px;
            // margin-left: 50px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            // width: 50px;
            min-width: 50px;
            font-family: FontAwesome;
            content: "\F12A";
            font-size: 24px;
            color: $color-3;
            border: 7px $color-2 solid;
            border-radius: 50%;
            background-color: $color-1;
        }

        span {
            grid-column: 2;
            h3 {
                font-size: 15px;
                font-weight: 900;
                letter-spacing: 0.7px;
                text-transform: uppercase;
                margin-bottom: 9px;
            }

            p {
                margin-left: 1px;
                color: $color-4;
                line-height: 24px;
                padding-right: 60px;
            }
        }
    }

    a {
        grid-area: link;
        text-decoration: none;
        color: transparent;
        margin-right: 17px;
        justify-self: right;

        &::before {
            font-family: FontAwesome;
            font-size: 13px;
            content: "\F00D";
            color: $color-5;
        }
    }

}

