$alert-color-1: #FFC12E; //background
$alert-color-2: #F9B718; //border
$alert-color-3: #A47503; //icon
$success-color-1: #A7EC2F;
$success-color-2: #7BC300;
$success-color-3: #558502;
$fail-color-1: #FFB1A5;
$fail-color-2: #F55B43;
$fail-color-3: #D52E13;
$energy-color-1: #85EBFA;
$energy-color-2: #47B4F5;
$energy-color-3: #0787D4;
$info-color-1: #AACDF5;
$info-color-2: #8781BD;
$info-color-3: #5B568E;
$color-4: #2D3E50;
$color-5: #CFD2D3;
$color-6: #E2E6E7;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Lato', sans-serif;
}

.notifications {
    display: grid;
    grid-template-columns: 570px 570px;
    grid-column-gap: 30px;
    grid-row-gap: 29px;
    margin: 100px auto;
    width: 600px;
}

.notification { //General template
    display: grid;
    grid-template-areas: "link"
                         "text";
    grid-template-rows: 26px auto;
    padding: 14px 0 34px 0;
    border: 1px $color-6 solid;
    border-radius: 10px;
    width: 100%;
    background-color: $alert-color-1;

    div {
        font-size: 14px;
        grid-area: text;
        display: flex;
        margin-left: 50px;

        &::before {
            grid-column: 1;
            margin-right: 28px;
            margin-top: 3px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            min-width: 50px;
            font-family: FontAwesome;
            font-size: 24px;
            border-radius: 50%;
            content: "\F12A"; //Default set is the alert one
            color: $alert-color-3;
            background-color: $alert-color-1;
            border: 7px $alert-color-2 solid;
        }
    }

    span {
        grid-column: 2;
        h3 {
            font-size: 15px;
            font-weight: 900;
            letter-spacing: 0.7px;
            text-transform: uppercase;
            margin-bottom: 9px;
        }

        p {
            margin-left: 1px;
            color: $color-4;
            line-height: 24px;
            padding-right: 60px;
        }
    }

    a {
        grid-area: link;
        text-decoration: none;
        color: transparent;
        margin-right: 17px;
        justify-self: right;

        &::before {
            font-family: FontAwesome;
            font-size: 13px;
            content: "\F00D";
            color: $color-5;
        }
    }
}

.alert {
    background-color: $alert-color-1;
    div::before { // Specify color, icons, and border for each element.
        content: "\F12A";
        color: $alert-color-3;
        border: 7px $alert-color-2 solid;
        background-color: $alert-color-1;
    }
    a::before {
        color: $alert-color-3;
    }
}

.success {
    background-color: $success-color-1;
    div::before {
        content: "\F00C";
        color: $success-color-3;
        border: 7px $success-color-2 solid;
        background-color: $success-color-1;
    }
    a::before {
        color: $success-color-3;
    }
}

.fail {
    background-color: $fail-color-1;
    div::before {
        content: "\F00D";
        color: $fail-color-3;
        border: 7px $fail-color-2 solid;
        background-color: $fail-color-1;
    }
    a::before {
        color: $fail-color-3;
    }
}

.energy {
    background-color: $energy-color-1;
    div::before {
        content: "\F0E7";
        color: $energy-color-3;
        border: 7px $energy-color-2 solid;
        background-color: $energy-color-1;
    }
    a::before {
        color: $energy-color-3;
    }
}

.info {
    background-color: $info-color-1;
    grid-column: span 2;
    div::before {
        content: "\F129";
        color: $info-color-3;
        border: 7px $info-color-2 solid;
        background-color: $info-color-1;
    }
    div span p {
        padding-right: 60px;
    }
    a::before {
        color: $info-color-3;
    }
}